<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a News</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create News Here</h1><br><br><br>
    <form method="post", action="/home">
        <label>Ener your username</label><br>
        <input type="text" placeholder="username" name="username" class="username"><br><br>
        <textarea name="news" id="" cols="30" rows="10" placeholder="write news here...."></textarea><br><br>
        <input class="username" type="text" placeholder="image link.."><br><br>
        <button>Submit</button>
    </form>
</body>
</html>